<div class="messages">
  <div class="message">
    <div class="user_name">
      <%= message.user.name %>
    </div>
    <div class="date_times">
      <%= message.created_at %>
    </div>
    <div class="chat_text">
      <%= message.content %>
    </div>
  </div>
</div>