<div class="wrapper">
  <div class="side_bar">
    <%= render "side_bar" %>
    <div class="mypage">
      <div class="side_bar_container">
        <div class="contents">
          <a href="#">
            <div class="left_content"> 
              Apple
            </div>
          </a>
          <a href="#">
            <div class="right_content">
              チャットを作成する
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="chatroom_list">
      <div class="side_bar_container">
        <a href=""><div class="chatroom">あああ</div></a>
        <a href=""><div class="chatroom">いいい</div></a>
      </div>
    </div>
  </div>

  <div class="chat">
    <%= render "main_chat" %>
    <div class="chat_infomation">
      <div class="chat_container">

      </div>
    </div>
    <div class="chat_screen">
      <div class="chat_container">
        <div class="chat_screen_container">

        </div>
      </div>
    </div>
    <div class="comment_area">
      <div class="chat_container">
        <div class="comment_container">

        </div>
      </div>
    </div>
  </div>
</div>