a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
}

/* サイドバー */
.side_bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}


/** mypage部分 **/
.mypage {
  height: 100px;
}
.contents {
  display: flex;
  height: 100%;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.left_content {
  color: #fafafa;
  font-size: 16px;
}

.right_content {
  padding: 14px;
  border: 1px solid lightblue;
  color: deepskyblue;
}

/** チャットルームリスト **/
.chatroom_list {
  padding: 0 20px;
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  overflow: scroll;
}

.chatroom {
  padding: 20px 0 40px 0;
  color: white;
}



/* チャット画面 */
.chat {
  background-color: #fff;
  width: calc(100vw - 300px);
}

.chat_infomation {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chatroom_name {
  padding: 36px 0 0 0;
  font-size: 24px;
  color: #333;
}

.close_chat {
  margin-top: 40px;
}

.close_chat a {
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.chat_screen {
  padding: 0 40px;
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
}

.message {
  margin-bottom: 20px;
}

.user_name, .date_times {
  display: inline-block;
  padding-top: 10px;
}

.user_name {
  font-size: 16px;
  color: #434a54;
  padding-right: 10px;
}

.date_times {
  font-size: 12px;
  color: #999;
}

.chat_text {
  font-size: 14px;
  color: #434a54;
}

.chat_screen_container {
  padding: 46px 0 0 0;
  height: 100%;
}

.comment_area {
  background-color: #ddd;
  height: 90px;
}

.comment_container {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.message_field {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
}

.submit {
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #38aef0;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}